<h1 class="my-4">New Test Request</h1>

<%= form_with model: @covid_test, url: new_test_path, local: true do |form| %>
    <div class="mb-3 col-4">
        <%= form.label :test_date, "Test date:", class: "form-label" %><br/>
        <%= form.date_field :test_date, min: Date.today, class: 'form-control' %>
    </div>

    <div class="mt-3">
        <%= form.submit "Send Request", class: "btn btn-primary mb-3" %>
    </div>

<% end %>