<h1 class="my-4">About Us</h1>
<div class="card mx-5">
  <div class="card-body mx-4">
    COVID-19 Test Queuing System is a system that collects users' information,
    and allow them to book and track their COVID-19 test result in order to 
    reduce the chance of infections. 
  </div>
</div>